

#container{
	/*div properties*/
	height: 500px;
  	max-height: 600px;
  	margin-left: auto; /*centers div*/
  	margin-right:auto; /*centers div*/

	/*circle alignment properties*/
	padding-top: auto;
  	padding-left: auto; /*centers 3 circles*/
  	padding-right: auto; /*centers 3 circles*/
	text-align: center;
  	vertical-align: middle;
}


.blueCircles {
	margin: auto 20px;
	display:block;
	width:300px;
	height:300px;
	border-radius:150px;
	background:#06f;
}

.blueCircles:hover {
	color:#fff;
	background:#09f ;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.greenCircle {
	margin: auto 20px;
	display:block;
	width:400px;
	height:400px;
	border-radius:200px;
	background:#0c3;
}

.greenCircle:hover {
	color:#fff;
	background:#2e5;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

a {
	color:#fff;
	text-align:center;
	text-decoration:none;
	display: inline-flex; 
}

.greenText{
	font-size:40px;
	vertical-align: middle;
	line-height: 400px;
}

.blueText{
	font-size: 30px;
	vertical-align: middle;
	line-height: 300px;
}
