

#container{
    text-align: center;
    height: 700px;
  	max-height: 700px;
  	margin-left: auto; /*centers div*/
  	margin-right: auto; /*centers div*/

  	padding-top: 150px;
}

h1{
	color:#093;
}

h2{
    color:#06f;
}