.welcome, .aboutsection, .details {
	min-height: 90vh;
	/*margin-top: 0px;
	margin-bottom: 0px;*/
}
.welcome {
	text-align: center;
}
.aboutsection {
	color: #fff;
}
.aboutpara {
	font-family: 'Open Sans', sans-serif;
}

h2{
    color:#06f;
}