/*****************************************************
main.css contains navbar & other cross-website elts
*****************************************************/

html {
	font-family: 'Michroma', Verdana, sans-serif;
	overflow-x: hidden;
}

/*-------------nav bar-------------*/
#masthead{
	z-index: 100;
	margin:0px;
	position:fixed;
	top:0px;
	background-color: rgba(255,255,255,1);
	width:100%;
	height:60px;
	min-width: 775px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #093;
}
.masthead-item{
	margin-left:10px;
	margin-right:10px;
	font-size: 12pt;
}


/*-------------logo image------------*/
#masthead-logo{
	margin:0px;
	float:left;
	height:100%;
}
#logo-img{
	margin:none;
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
	height: 30px;
}

#nav-wrapper{
	float:right;
}

#welcomeUser{
	height:25px;
	position:relative;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:17px;
	margin-left:0px;
	margin-right:20px;
	list-style-type: none;
    color:#06c;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;

}

#about{
	height:25px;
	position:relative;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:17px;
	margin-left:0px;
	margin-right:20px;
	list-style-type: none;
    color: #093;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

a.navlinks:link, a.navlinks:visited, a.navlinks:hover, a.navlinks:active {
    text-decoration:none;
}
a.aboutlink:link, a.aboutlink:visited, a.aboutlink:hover, a.aboutlink:active {
    color: #093;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#aboutblurb {
	line-height: 150%;
	text-align: justify;
	font-family: Verdana, sans-serif;
	color: #333;
}
.abouttitle {
	color: #093;
}
.closebutton {
	background-color: #093;
	color: #fff;
}
.closebutton:hover {
	background-color: #007A29;
	color: #ccc;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#33ad5c;
	color: #fff;
	text-align: center;
}