/*****************************************************
main.css contains navbar & other cross-website elts
*****************************************************/

html, .jumbotron, .container {
	font-family: 'Michroma', Verdana, sans-serif;
}

.container > h1, .container > h1 > small  {
	color: #093;
}
body {
	padding-bottom: 0px;
}
.welcome, .aboutsection, .details {
	height: 90vh;
	/*margin-top: 0px;
	margin-bottom: 0px;*/
}
.aboutsection {
	color: #fff;
}
.welcomepage {
	font-family: 'Open Sans', Verdana, sans-serif;
}

.foot {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	color: #fff;
	text-align: center;
}

.navbar {
	border-bottom: 3px solid #093;
	font-family: 'Michroma', Verdana, sans-serif;
	color: #093;
}

/*-------------nav bar-------------
#masthead{
	z-index: 100;
	margin:0px;
	position:fixed;
	top:0px;
	background-color: rgba(255,255,255,1);
	width:100%;
	height:60px;
	min-width: 775px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #093;
}
.masthead-item{
	margin-left:10px;
	margin-right:10px;
	font-size: 12pt;
}


/*-------------logo image------------
#masthead-logoS{
	margin:0px;
	float:left;
	height:100%;
}

#logoS{
	height:100%;
}

#logo-imgS{
	margin:none;
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
	height: 50%;
	width:50%;
}


#nav-wrapper{
	float:right;
}

#welcomeUser{
	height:25px;
	position:relative;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:17px;
	margin-left:0px;
	margin-right:20px;
	list-style-type: none;
    color:#06c;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;

}*/

#about{
	height:25px;
	position:relative;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:17px;
	margin-left:0px;
	margin-right:20px;
	list-style-type: none;
    color: #093;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

a.navlinks:link, a.navlinks:visited, a.navlinks:hover, a.navlinks:active {
    text-decoration:none;
}
a.aboutlink:link, a.aboutlink:visited, a.aboutlink:hover, a.aboutlink:active {
    color: #093;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#aboutblurb {
	line-height: 150%;
	text-align: justify;
	font-size: 120%;
	font-family: Verdana, sans-serif;
	color: #333;
}
.abouttitle {
	color: #093;
}
.closebutton {
	background-color: #093;
	color: #fff;
}
.closebutton:hover {
	background-color: #007A29;
	color: #ccc;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#33ad5c;
	color: #fff;
	text-align: center;
}

/*-------------------------NAVBAR----------------------------*/
.navbar-default {
	background-color: #33ad5c;
	border-color: #33ad5c;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #009933;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #009933;
}
.navbar-default .navbar-toggle {
	border-color: #009933;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #009933;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}
.navbar-brand {
	padding-left: 5px;
	padding-top:0.5em;
	padding-bottom: 0px;
}


@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #009933;
	}
}