/*****************************************************
main.css contains navbar & other cross-website elts
*****************************************************/

html {
	font-family: 'Michroma', Verdana, sans-serif;
}

/*-------------nav bar-------------*/
#masthead{
	z-index: 100;
	margin:0px;
	position:fixed;
	top:0px;
	background-color: rgba(255,255,255,1);
	width:100%;
	height:60px;
	min-width: 775px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #093;
}
.masthead-item{
	margin-left:10px;
	margin-right:10px;
	font-size: 12pt;
}


/*-------------logo image------------*/
#masthead-logo{
	margin:0px;
	float:left;
	height:100%;
}
#logo-img{
	margin:none;
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
	height: 30px;
}

#nav-wrapper{
	float:right;
}

#welcomeUser{
	height:25px;
	position:relative;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:17px;
	margin-left:0px;
	margin-right:20px;
	list-style-type: none;
    color:#06c;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;

}

#about{
	height:25px;
	position:relative;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:18px;
	padding-bottom:17px;
	margin-left:0px;
	margin-right:20px;
	list-style-type: none;
    color: #093;

	transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#aboutinfo {
	background:#eee;
	width:600px;
	position: relative;
	border: 3px solid;
	border-color: #093;
	z-index: -1;
	float: center;

	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: auto;
    
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#aboutblurb {
	line-height: 150%;
	text-align: justify;
	font-family: Verdana, sans-serif;
	color: #333;
}

#aboutback {
	color: #06c;
	text-decoration: underline;
	text-align: center;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#33ad5c;
}