<!DOCTYPE html>
<html>
  <head>
    <link href="bootstrap.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css" />
    <link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <title>Homepage</title> 
  </head>

  <body>

     <!--FB authentication code-->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '785704354835227',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          console.log('Logged in.');
        }
        else {
          FB.login();
        }
      });

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=785704354835227&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>





    <div id="masthead">
      <div id="masthead-logo" class="masthead-item">
        <a id="logo" href="index.html">
        <img id="logo-img" src="buggle-white-nav.png">
      </a>
      </div>
      <div id="about" class="aboutnav" data-toggle="modal" data-target="#myModal"><a href="#" class="navlinks aboutlink">About</a></div>
      
      <div id="nav-wrapper">
        <div id="welcomeUser">
          Welcome USER!
        </div>
      </div>
    </div>
    
    <div id="container" style="background:#fff;width:100%;position:absolute;">
      <h1>Hello!</h1>
      <h1>Welcome to GreenBuggle.</h1>
      <h2>To start, please log in to Facebook.</h2>
      <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="FB Logo" style="width:50px;height:0px">
    </div>

    <footer id="footer" >
      <p>Place sticky footer content here.</p>
    </footer>


    <!--About Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title abouttitle" id="myModalLabel">About GreenBuggle</h4>
          </div>
          <div class="modal-body">
            <p id=aboutblurb>
              <b>GreenBuggle is a tool that helps you travel responsibly.</b>
              <br>
              <br>The world emitted something like 40 billion tons of CO<sub>2</sub> in 2014. Wouldn't it be great if we could reduce that carbon footprint?
              <br>
              <br><b>To help, we've built a tool that helps you calculate the monetary, time, and environmental costs of driving vs. taking public transportation or walking.</b> We want to encourage you to take the greenest and most convenient method of transportation available.
              Collect leaf badges on your green journey and share your progress on Facebook!
              <br>
              <br>Also, if you're traveling, be sure to check out our travel green feature!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button closebutton" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>     

  </body>

</html>




