<!DOCTYPE html>
<html>
  <head>
    <title>RECORDS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Here is a record</h1>
    <p><%= .caption %></p>
    <img src="<%= photo.url %>" />
  </body>
</html>
