<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/faqs.css" />
    <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="/images/buggle-small.png" alt="logo">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <title>GreenBuggle</title> 

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/homepage"><img src="/images/bugglelogo-w.png" height="35px" align="top"> GreenBuggle</a>
      </div>
    
      </div><!-- /.container-fluid -->
    </nav>
  </head>

  <body>

    <div class="container">

      <h1>FAQs</h1>
      <hr>
      <div class='row'>
        <div class='col-md-3'>
          <br>
          <h4><a href='#generalqs' class='q'>General</h4>
          <h4><a href='#dataqs' class='q'>Data</h4>
          <h4><a href='#mapqs' class='q'>Google Maps</a></h4>
        </div>
        <div class='col-md-9'>
    

        <h3> </h3>
        <p class="answer">
        </p>


      <h2 id='generalqs'>General</h2>

      <div class="qgroup">
        <div class="panel-group" id="Gaccordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingGOne">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseGOne" aria-expanded="false" aria-controls="collapseGOne">
                  What information do you collect from me?
                </a>
              </h3>
            </div>
            <div id="collapseGOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGOne">
              <div class="panel-body">
                <p class="answer">
                   From Facebook, we only get the information that is in your <b>public</b> Facebook profile -- that is, your name and your Facebook user ID, which allows us to save your trip history so that you can keep track of your green commutes. In terms of the data GreenBuggle generates, we save only the travel information that you select on our Trip Planner page (start and end destination, date, and estimated carbon emission). We do not, for instance, look at your email, friends list, or any other sensitive information.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingGTwo">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseGTwo" aria-expanded="false" aria-controls="collapseGTwo">
                  Do you guys calculate carbon footprints?
                </a>
              </h3>
            </div>
            <div id="collapseGTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGTwo">
              <div class="panel-body">
                <p class="answer">
                  Not quite. Your carbon footprint encompasses a lot of things, including your water and electricity use, among other things. <b>GreenBuggle tries to help you calculate your everyday carbon emissions from various modes of transportation</b>, since fuel is a big part of most people's overall carbon footprint. From there, we hope you'll be able to make better and more informed decisions about your <b>travel options</b>, and then by extension, your carbon footprint.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingG3">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseG3" aria-expanded="false" aria-controls="collapseG3">
                  How accurate is GreenBuggle?
                </a>
              </h3>
            </div>
            <div id="collapseG3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingG3">
              <div class="panel-body">
                <p class="answer">
                  While we cannot guarantee that our estimates are "perfectly" accurate, we try to provide reasonable estimates for our data. For more information, please see the section on "How we get our data".
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingG4">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseG4" aria-expanded="false" aria-controls="collapseG4">
                  Do you guys cover anything other than cars, transit, and walking?
                </a>
              </h3>
            </div>
            <div id="collapseG4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingG4">
              <div class="panel-body">
                <p class="answer">As of right now, no. </p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <hr>

      <h2 id='dataqs'>How we get our data</h2>

      <div class="qgroup">

        <div class="panel-group" id="Haccordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingHOne">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseHOne" aria-expanded="false" aria-controls="collapseHOne">
                  Where do you get your directions information from?
                </a>
              </h3>
            </div>
            <div id="collapseHOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHOne">
              <div class="panel-body">
                <p class="answer">
                  We use the Google Maps API for all driving, transit, and walking directions. To learn more about Google Maps, please visit <a href="http://www.google.com/maps/about/">http://www.google.com/maps/about/</a>.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingHTwo">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseHTwo" aria-expanded="false" aria-controls="collapseHTwo">
                  Where do you get your carbon estimates from?
                </a>
              </h3>
            </div>
            <div id="collapseHTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHTwo">
              <div class="panel-body">
                <p class="answer">
                  For the calculations, we found statistics from 2014 from <a href="http://www.eia.gov/tools/faqs/faq.cfm?id=307&t=10">the US Energy Information Administration</a> and <a href="http://www.ecopassenger.org/">ecopassenger.org</a> to use as measurements for how much carbon dioxide is emitted depending on fuel consumption and method of travel. Then, we take the distance we got from Google Maps and do lots of algebra.
                  <br><br>
                  For example, since the average car* has an average mileage of 23mpg (37km per gallon), we use the distance of the user's trip and then divide by 37 to calculate how many gallons of gasoline fuel the car would consume. Then, using the statistic that 8.7 kg of CO2 is emitted per gallon of gas, we multiplied the number of gallons by 8.7 to get the total CO2 emission.
                  <br><br>
                  For the transit travel mode, we found that commuter rail trains, light rail trains, heavy rail trains, etc. all have relatively similar CO2 emissions per individual, so we just used the statistic .2 lbs of CO2 is emitted per mile on a train, converted that to kg (.9 kg per mile), and then multiplied that by the distance travelled to get the CO2 emission of a train ride.
                  <br><br>
                  For flights, there is a difference in CO2 emission depending on the length of the trip, so we took the average of short, medium, and long flights and got .23kg per mile flown, and then multiplied that by the distance travelled to get the CO2 emission of a flight.
                  <br><br>
                  While these measurements are by no means perfect, we believe that this info provides a reasonable estimate of the carbon emissions you use while travelling, and more importantly, can help you make more informed decisions regarding your carbon footprint.
                  <br><br>
                  *At this time, we are unable to give you the option of saving your car(s)' fuel efficiency.
                </p>
              </div>
            </div>
          </div>

        </div><!--end collapsible panels-->

      </div> <!--end qgroup class-->

      <hr>

      <h2 id='mapqs'>Google Maps related questions</h2>

      <div class="qgroup">

        <div class="panel-group" id="Maccordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMOne">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseMOne" aria-expanded="false" aria-controls="collapseMOne">
                  Why is it giving me the <i>wrong</i> address/city/country?
                </a>
              </h3>
            </div>
            <div id="collapseMOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMOne">
              <div class="panel-body">
                <p class="answer">
                  Did you enter the correct address? If so, your search might not be specific enough. For example, you might not have entered the city, state, zip code, or country associated with the address. 
                  <br><br>
                  Your location might also have something to do with this too. According to the <a href="https://developers.google.com/maps/documentation/geocoding/#RegionCodes">Google Maps API</a> (which we use for GreenBuggle), "the Google Geocoding API returns address results influenced by the region (typically the country) from which the request is sent. For example, searches for 'San Francisco' may return different results if sent from a domain within the United States than one sent from Spain."
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMTwo">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseMTwo" aria-expanded="false" aria-controls="collapseMTwo">
                  Why won't it calculate the transit directions?
                </a>
              </h3>
            </div>
            <div id="collapseMTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMTwo">
              <div class="panel-body">
                <p class="answer">
                  Google might not have added your city yet. To check, please visit <a href="https://maps.google.com/landing/transit/cities/">Google Maps | Transit | Cities covered</a>. If your city isn't covered, you might not be able to use the transit feature on GreenBuggle, and you might have to look up the website for your city's transit agency for directions instead. We apologize for the inconvenience.
                  <br><br>
                  Plus, sometimes there is no transit option from certain cities to other cities, e.g. Montreal, Canada, to Mexico City, Mexico.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMThree">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseMThree" aria-expanded="false" aria-controls="collapseMThree">
                  Why won't it calculate the driving directions from, say, NYC to London?
                </a>
              </h3>
            </div>
            <div id="collapseMThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMThree">
              <div class="panel-body">
                <p class="answer">
                  As far as we know, they haven't built a long bridge from North America to Europe yet, nor can most cars drive underwater, so you probably couldn't drive across the Atlantic Ocean anyway. But more specifically, Google Maps seems to have retired the old directions of "swim across X ocean" from circa 2007, and the current Maps regional specifications won't give directions from North America to Europe.
                  <br><br>
                  Some other regional limitations (that we have noticed; this has not been confirmed) include driving directions from China to anywhere else, Australia to anywhere else, Southeast Asia to East Asia or the Middle East, and North to South America.
                  <br><br>
                  Also, occasionally a location is simply too small or isolated for Google to give good directions to/from there.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMFour">
              <h3 class="panel-title">
                <a class="q" data-toggle="collapse" data-parent="#accordion" href="#collapseMFour" aria-expanded="false" aria-controls="collapseMFour">
                  OK, so what <i>can</i> I do on the GreenBuggle map?
                </a>
              </h3>
            </div>
            <div id="collapseMFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMFour">
              <div class="panel-body">
                <p class="answer">
                  Because we were curious to the limitations of Google Maps, we tried some random searches and found the following:
                </p>
                <ul class="answer">
                  <li>You can get driving/walking directions from Magadan, Russia (eastern Russia) to Cape Town, South Africa.</li>
                  <li>You can get driving/walking directions from Magadan, Russia to Lisbon, Portugal.</li>
                  <li>You can get driving/walking directions from Oslo, Norway to Johannesburg, South Africa.</li>
                  <li>You can get driving/walking directions from Juneau, Alaska to Panama City, Panama, but not South America.</li>
                  <li>You can get driving/walking directions from Caracas, Venezuela to Puntas Arenas, Chile.</li>
                  <li>You can occasionally get driving/walking directions from island to island within countries, e.g. Okinawa, Japan, to Tokyo, Japan, though these routes may include ferries.</li>
                </ul>
                <p class="answer">
                  <br>Please note, however, that we are unlikely to generate accurate data for directions of such long distances.
                </p>
              </div>
            </div>
          </div>
          </div>

      </div>

        </div> <!--end collapse group-->


        
      </div> <!--end qgroup class-->

      <p><br><br><br></p>

    </div>


  

     

  </body>

</html>




