<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Michroma|Open+Sans' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <title>GreenBuggle</title> 

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/images/bugglelogo-w.png" height="35px" align="top" alt="logo"> GreenBuggle</a>
      </div>

      </div><!-- /.container-fluid -->
    </nav>
  </head>

  <body>
    
    <div class="jumbotron welcome">
      <div class="container">
        <h1>Hello!</h1>
        <h1><small>Welcome to GreenBuggle.</h1>
        <img src="/images/bugglelogo-blue.png" style="height:200px">
          <h4>To start, please log in to Facebook.</h4>
          <a href="/auth/facebook"><img src="/images/login-with-facebook.png" width="154" height="22"></a>
          <br><br><br><br>
          <a href="#about"><button class="btn btn-success">Learn more</button></a>
        <p></p>
      </div>
    </div>

    <div id="about" class="jumbotron aboutsection" style="background:#33ad5c;">
      <div class="container">
        <h1 style="text-align:center;padding-bottom:0.5em;color:#fff">What is GreenBuggle?</h1>

        <div class='row'>
          <div class='col-md-1'></div>
          <div class='col-md-10'>
            <p class='aboutpara'><b>GreenBuggle is a tool that helps you travel responsibly.</b>
            <br>
            <br>The world emitted something like 40 billion tons of CO<sub>2</sub> in 2014. Wouldn't it be great if we could reduce that carbon footprint?
            <br>
            <br><b>To help, we've built a tool that helps you calculate the time and environmental costs of driving vs. taking public transportation or walking.</b> We want to encourage you to take the greenest and most convenient method of transportation available.
            <br><br>Collect leaf badges on your green journey!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron details" style="background:#fff;">
      <h1 style="text-align:center;padding-bottom:0.5em;color:#093;">Explore our travel green feature</h1>
      <div class="container">
        <img src="images/intropic1.png" width="100%">
      </div>
    </div>

    <div  class="jumbotron details2" style="background:#3385D6;">
      <h1 style="text-align:center;padding-bottom:0.5em;color:#fff;">Collect badges!</h1>
      <div class="container">
        <img src="images/intropic2.png" width="100%">
      </div>
    </div>

    <div class="jumbotron details" style="background:#fff;">
      <h1 style="text-align:center;padding-bottom:0.5em;color:#093;">Watch a quick demo</h1>
      <div style="width:800px; margin: 0 auto;">
      <iframe width="800" height="440" src="//www.youtube-nocookie.com/embed/ez9PA_QiTCY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <br><br>
      <h5 style="text-align:center;padding-bottom:0.5em;color:#093;">Still have questions? Please see our <a href="/faqs" target="_blank" style="text-decoration: underline;">FAQs</a>.</h5>
    </div>S

    <div class="jumbotron foot" style="background:#33ad5c;">
      <h6>Made by Jessica Guo, Lilian Ma, and Sunnia Ye for 6.148/6.470 at MIT</h6>
      <h6>Copyright &copy; 2015</h6>
    </div>   

  </body>
</html>




