#map-canvas {
	height: 500px;
	margin: 0px;
	padding: 0px
}
#directions-panel{
	height: 500px;
	float: right;
	width: 100%;
	overflow: auto;
}
#control {
	background: #fff;
	padding: 5px;
	font-size: 14px;
	font-family: Arial;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
	display: none;
}
#flight-panel {
	position: absolute;
	margin-left: 70%;
	z-index: 10;
	padding-top: 5px;
	padding-right: 35px;
	text-align: right;
	width: 30%;
}

@media print {
	#map-canvas {
		height: 500px;
		margin: 0;
	}

	#directions-panel{
	  float: none;
	  width: auto;
	}
}
/*
ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; } */
div.tabContent.hide { display: none; }

.modal-dialog {
	display:block;
	width:960px;
	height:300px;
	border-radius:150px;
	margin-top:10%;
	padding-left: auto;
	padding-right: auto;
}
/*blue circles*/
.modal-content {
	width:300px;
	height:300px;
	border-radius:150px;
	margin: auto 10px;
	padding: 35px 10px;
	position: relative;
	float: left; /*IMPORTANT! keeps circles on one line*/
}
.circleText {
	font-size: 18px;
	vertical-align: middle;
	line-height: 120%;
	color:#fff;
	text-align:center;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
}
#bcirc_car {
	display:block;
	background:#06c;
}
#bcirc_transit {
	display:block;
	background:#06c;
}
#bcirc_walk {
	display:block;
	background:#06c;
}

.jumbotron {
	background: #fff;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#travelOptions {
	padding-right:5%;
	display: none;
	font-family: 'Michroma', sans-serif;
	text-align: center;
}
#travelChoice {
	display: none;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	font-family: 'Michroma', sans-serif;
}

.inline {
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
.clearBoth {
	clear:both;
}
