.container {
    font-family: Verdana, sans-serif;
}
h1 {
	color:#06c;
    text-align: center;
}
h2 {
    color:#093;
}
h3, h4 {
    color:#06f;
}
h1, h2, h3, h4 {
    font-family: 'Michroma', Verdana, sans-serif;
}
a.q {
    color: inherit;
}
a.q:link, a.q:active, a.q:visited {
    text-decoration: none;
}
a.q:hover {
    text-decoration: underline;
}
a#top {
    text-decoration: none;
    color: #093;
}
ul.answer {
    list-style-type: square;
    padding-left: 25px;
}
.qgroup {
    border-left: 2px solid #093;
    padding-left: 15px;
}