.welcome, .aboutsection, .details, .details2 {
	min-height: 90vh;
	margin-top: 0px;
	margin-bottom: 0px;
}
.welcome {
	text-align: center;
}
.aboutsection, .details2 {
	color: #fff;
}
.aboutpara {
	font-family: 'Open Sans', sans-serif;
}
.details2 > h1, .details2 > a {
	color: #fff;
}
h2, h4 {
    color:#06f;
}