/*****************************************************
main.css contains navbar & other cross-website elts
*****************************************************/

html, .jumbotron {
	font-family: 'Michroma', sans-serif;
	background: none;
}
.jumbotron > h1, .container > h1, .container > h1 > small  {
	color: #093;
	text-align: center;
}
body {
	padding-bottom: 0px;
}
a:link, a:hover, a:visited, a:active {
	color: inherit;
}
.foot {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	color: #fff;
	text-align: center;
}
h1, h5, h6 {
	text-align: center;
}
.helptitle {
	color: #d00;
}


/*-------------------------NAVBAR----------------------------*/
.navbar-default {
	background-color: #33ad5c;
	border-color: #33ad5c;
	font-family: 'Michroma', Verdana, sans-serif;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #009933;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #009933;
}
.navbar-default .navbar-toggle {
	border-color: #009933;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #009933;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}
.navbar-brand {
	padding-left: 5px;
	padding-top:0.5em;
	padding-bottom: 0px;
}


@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #009933;
	}
}