#container{
    text-align: center;
    height: 700px;
  	max-height: 700px;
  	margin-left: auto; /*centers div*/
  	margin-right: auto; /*centers div*/

  	padding-top: 150px;
}

h1{
	color:#093;
}
h2{
    color:#06f;
}
h1, h2, h3, h4 {
    font-family: 'Michroma', Verdana, sans-serif;
}

.trips {
	width: 80%;
	border-bottom: 3px solid;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.default {
}
.spacing {
	height: 0.5em;
}
.date {
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-left: 3px solid;
	border-color: #06c;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.action{
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-right: 3px solid;
	border-color: #06c;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
